    .cards {
        margin:auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px 5px;
        width: 1200px;
        height: 600px
    }